### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, manipulation, and querying of the data. Databases are used to store various types of information, ranging from simple lists to complex data structures. They are a fundamental component of many software applications, as they provide a reliable and scalable method for managing and accessing data.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two broad categories of database management systems, each with its own characteristics and use cases:

**SQL Databases:**
SQL databases are relational databases that use a structured schema to define the data model. They are based on the principles of the relational model, which means that data is organized into tables with predefined columns and data types. SQL databases enforce data integrity through relationships, constraints, and transactions. The primary language used to interact with SQL databases is SQL, which is a domain-specific language for querying and manipulating data.

Advantages of SQL databases:
- **Data Integrity:** Enforce strict data integrity through relationships and constraints.
- **ACID Transactions:** Support for ACID (Atomicity, Consistency, Isolation, Durability) transactions ensures data consistency.
- **Structured Queries:** Powerful querying capabilities using SQL for complex data retrieval and manipulation.
- **Mature Technology:** SQL databases have been around for a long time and are well-established.

Disadvantages of SQL databases:
- **Schema Rigidity:** Changes to the schema can be challenging and require careful planning.
- **Scalability:** Vertical scaling (increasing hardware resources) is a common way to handle increased load, but it has limits.
- **Less Suitable for Unstructured Data:** Not ideal for handling unstructured or semi-structured data.

**NoSQL Databases:**
NoSQL databases are designed to handle large volumes of unstructured or semi-structured data. They offer greater flexibility and scalability compared to traditional relational databases. NoSQL databases do not use a fixed schema like SQL databases. Instead, they use various data models, such as document, key-value, column-family, and graph, to organize and store data.

Advantages of NoSQL databases:
- **Schema Flexibility:** No fixed schema allows for easy changes and adaptation to evolving data needs.
- **Scalability:** Designed for horizontal scaling, making them suitable for handling massive amounts of data and high traffic.
- **Variety of Data Models:** Different types of NoSQL databases cater to different data models and use cases.
- **High Performance:** Can offer better performance for certain types of queries and workloads.

Disadvantages of NoSQL databases:
- **Limited ACID Transactions:** Many NoSQL databases sacrifice strict ACID transactions for improved scalability and performance.
- **Lack of Standardization:** Each NoSQL database has its own query language and APIs, leading to a lack of standardization.
- **Learning Curve:** Developers need to learn specific database-specific APIs and query languages.
- **Less Mature:** NoSQL databases are relatively newer compared to SQL databases.

In summary, SQL databases are best suited for applications with well-defined schemas, complex queries, and the need for strict data integrity, while NoSQL databases excel in handling large volumes of unstructured or semi-structured data and providing high scalability and flexibility. The choice between SQL and NoSQL depends on the specific requirements and characteristics of the application being developed.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for "Data Definition Language," and it is a subset of SQL (Structured Query Language) that is used to define, manage, and modify the structure of a database schema. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas. DDL statements are responsible for defining the logical and physical structure of the database.

Here are explanations and examples of some commonly used DDL statements:

1. **CREATE:** The CREATE statement is used to create new database objects, such as tables, indexes, or views.    
    ```sql
    CREATE TABLE Employees (
        EmployeeID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50),
        Department VARCHAR(50)
    );
    ```

2. **DROP:** The DROP statement is used to delete existing database objects, such as tables, indexes, or views.
    ```sql
    DROP TABLE Employees;
    ```

3. **ALTER:** The ALTER statement is used to modify existing database objects. It can be used to add, modify, or delete columns, constraints, or other properties of an object.    
    ```sql
    ALTER TABLE Employees
    ADD Salary DECIMAL(10, 2);
    ```

4. **TRUNCATE:** The TRUNCATE statement is used to delete all rows from a table while keeping the table structure intact. It is faster than using the DELETE statement because it doesn't generate individual delete operations for each row.    
    ```sql
    TRUNCATE TABLE Employees;
    ```

In summary, DDL statements are used to define and manage the structure of a database. The CREATE statement is used to create new objects, the DROP statement is used to delete objects, the ALTER statement is used to modify objects, and the TRUNCATE statement is used to remove all records from a table. These statements are fundamental for designing and maintaining the schema of a database and maintaining the schema of a database.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for "Data Manipulation Language," and it is a subset of SQL (Structured Query Language) that deals with the manipulation and processing of data stored within a database. DML statements are used to insert, update, and delete data in database tables. Unlike DDL (Data Definition Language), which focuses on defining and managing the structure of the database, DML focuses on the actual data stored in the database.

Here are explanations and examples of some commonly used DML statements:

1. **INSERT:** The INSERT statement is used to add new rows of data into a table.
    
    ```sql
    INSERT INTO Employees (EmployeeID, FirstName, LastName, Department, Salary)
    VALUES (1, 'John', 'Doe', 'HR', 50000.00);
    ```

2. **UPDATE:** The UPDATE statement is used to modify existing data in a table.
    
    ```sql
    UPDATE Employees
    SET Salary = 55000.00
    WHERE EmployeeID = 1;
    ```

3. **DELETE:** The DELETE statement is used to remove one or more rows of data from a table.
    
    ```sql
    DELETE FROM Employees
    WHERE EmployeeID = 1;
    ```

In summary, DML statements are used to manipulate and process the data stored within a database. The INSERT statement is used to add new data, the UPDATE statement is used to modify existing data, and the DELETE statement is used to remove data from a table. These statements are crucial for maintaining and updating the actual data in a database.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for "Data Query Language," and it is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. The primary DQL statement is the SELECT statement, which allows you to specify what data you want to retrieve from one or more database tables.

Here's an explanation and example of the SELECT statement:

**SELECT:** The SELECT statement is used to retrieve data from one or more database tables. It allows you to specify which columns you want to retrieve, as well as any filtering or sorting criteria.

```sql
SELECT FirstName, LastName, Salary
FROM Employees;
```

- **WHERE:** The WHERE clause allows you to filter the results based on specified conditions.

```sql
SELECT FirstName, LastName, Salary
FROM Employees
WHERE Salary > 50000;
```

- **ORDER BY:** The ORDER BY clause is used to sort the results in ascending or descending order based on specified columns.

```sql
SELECT FirstName, LastName, Salary
FROM Employees
ORDER BY Salary DESC;
```

- **LIMIT:** The LIMIT clause is used to restrict the number of rows returned by the query.

```sql
SELECT FirstName, LastName, Salary
FROM Employees
LIMIT 10;
```

### Q5. Explain Primary Key and Foreign Key.

**Primary Key:**
A primary key is a field or set of fields in a database table that uniquely identifies each record or row within that table. It serves as a means of ensuring data integrity and providing a reliable way to distinguish one record from another. Primary keys are essential for maintaining the uniqueness of records and for establishing relationships between different tables in a relational database.

Key characteristics of a primary key:

1. **Uniqueness:** Each value in the primary key column(s) must be unique across all records in the table.
2. **Non-null:** The primary key value cannot be null or empty.
3. **Immutable:** The primary key value should not change over the lifetime of the record.
4. **Single Value:** A primary key can consist of one or multiple columns, but its values should collectively be unique.
5. **Indexed:** Primary keys are automatically indexed by the database management system for efficient searching.

**Foreign Key:**
A foreign key is a column or a set of columns in a database table that is used to establish a link or relationship between two tables. The foreign key in one table refers to the primary key in another table. This relationship helps maintain data integrity and allows for the creation of associations between related data in different tables.

Key characteristics of a foreign key:

1. **Referential Integrity:** A foreign key enforces referential integrity, ensuring that the values in the foreign key column(s) match the values in the corresponding primary key column(s) in the referenced table.
2. **Links Tables:** It establishes a connection between two tables, allowing data from one table to reference or be associated with data in another table.
3. **May Allow Null:** In some cases, a foreign key column can have null values, indicating that a record may not be associated with any related record in the referenced table.

In summary, a primary key uniquely identifies records within a table, while a foreign key establishes relationships between tables by referencing the primary key of another table. These concepts are crucial for maintaining data integrity, ensuring accurate associations, and building structured and meaningful databases.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [36]:
import mysql.connector

# Establish a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="sSaAlLiIkK7869",
    database = "test1"
)
print(mydb)

cursor = mydb.cursor()
cursor.execute('CREATE TABLE if not exists test_table(c1 INT)')

# The cursor() and execute() methods are fundamental components of the MySQL connector library for Python.
# The cursor acts as a communication channel between your Python code and the database.
# The execute() method allows you to send SQL queries to the database for execution.

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000242EBB79F10>

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query generally follows these steps:

1. **FROM:** This clause specifies the tables from which data is being retrieved. It's the starting point of the query and identifies the source tables.

2. **JOIN:** If the query involves multiple tables and requires joining them based on specified conditions, the JOIN clauses are executed to combine the data from different tables.

3. **WHERE:** The WHERE clause filters the rows based on specified conditions. It is applied after the JOINs to narrow down the rows that meet the criteria.

4. **GROUP BY:** If there is a GROUP BY clause, the data is grouped into subsets based on the specified columns. Aggregation functions (like COUNT, SUM, AVG) are applied to these groups.

5. **HAVING:** The HAVING clause filters the grouped results, similar to the WHERE clause, but for groups created by the GROUP BY clause.

6. **SELECT:** The SELECT clause specifies which columns to include in the result set. The data is transformed and projected according to the selected columns.

7. **DISTINCT:** If the DISTINCT keyword is used, duplicate rows are removed from the result set.

8. **ORDER BY:** The ORDER BY clause sorts the result set based on specified columns in ascending or descending order.

9. **LIMIT/OFFSET:** If specified, the LIMIT and OFFSET clauses restrict the number of rows returned by the query and control pagination.